.message {
  width: 100%;
  max-width: 500px;
  border-top: 1px solid lightseagreen;
  border-bottom: 1px solid lightseagreen;
  display: block;
  padding: 20px 7px;
}

.message-header {
  display: flex;
}

.message-header-text__block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.message-header-image {
  width: 100%;
  height: 100%;
  max-width: 70px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 10px;
  box-sizing: border-box;
}

.message-header-title {
  font-size: 12px;
}

.message-header-date {
  font-size: 12px;
  color: lightseagreen;
  opacity: 0.5;
}

.like {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.like__icon{
  outline:none;
  box-shadow:none;
  border: none;
  width: 40px;
  height: 30px;
  font-size: 1.3em;
  border-radius: 100px;
}

.like__icon.active{
  background: lightseagreen;
  color: rgb(36, 36, 36);
}